<ng-template let-node="node" #treeHeader>
    <header>
        <mat-icon mat-list-icon>folder</mat-icon>
        <div>
            <div>{{node.value.name}}</div>
            <div>{{node.value.updatedAt | date}}</div>
        </div>
    </header>
</ng-template>

<mat-tree [dataSource]="libraries$" [treeControl]="libraryNodeTreeControl">
    <mat-tree-node *matTreeNodeDef="let node">
        <li>
            <ng-template [ngTemplateOutlet]="treeHeader" [ngTemplateOutletContext]="{node: node}">
            </ng-template>
        </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
            <button mat-icon-button matTreeNodeToggle>
                <mat-icon>
                    {{libraryNodeTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <ng-template [ngTemplateOutlet]="treeHeader" [ngTemplateOutletContext]="{node: node}">
            </ng-template>
        </li>
        <ul [hidden]="!libraryNodeTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
        </ul>
    </mat-nested-tree-node>
</mat-tree>