:host {
  width: 100%;
    header {
        display: flex;
        align-items: center;
    
        > div {
          display: flex;
          flex-direction: column;
          padding: 0 10px;
          text-align: left;
    
          > div {
            text-transform: capitalize;
          }
        }
      }

      mat-tree {
        li {
          width: 100%;
          list-style-type: none;
          display: flex;

          &.selected-node {
            background: #d9d9d9;
          }
        }
      }
}