.display-none {
    display: none;
}

.progressive-wizard {
    margin: 1%;
    color: #000;
    text-align: justify;
    font-size: 15px;
}

.progressive-wizard-step {
    display: inline-block;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    position: relative;
    color: #777;
}

.progressive-wizard-inner {
    list-style: none;
    padding: 20px 0 0 0;
    min-height: 50px;
}

.progressive-wizard-step-details {
    font-size: 15px;
    padding: 8px;
    background: #eee;
    border: 1px solid #eee;
}

.progressive-wizard-footer {
    margin-top: 2%
}

/* --- Shapes  --- */

.progressive-wizard-step-arrow {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #eee;
    z-index: 150;
}

.progressive-wizard-step-wedge {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: #eee #eee #eee transparent;
    z-index: 150;
}

/* --- Hover Wizard Step  --- */

.progressive-wizard-step:not(.progressive-wizard-step--active):hover
.progressive-wizard-step-details {
    background: #aaa;
    cursor: not-allowed;
    color: #fff;
    border: 1px solid #aaa;
}

.progressive-wizard-step:not(.progressive-wizard-step--active):hover
.progressive-wizard-step-arrow {
    border-color: transparent transparent transparent #aaa;
}

.progressive-wizard-step:not(.progressive-wizard-step--active):hover
.progressive-wizard-step-wedge {
    border-color: #aaa #aaa #aaa transparent;
}

/* --- Active Wizard Step  --- */

.progressive-wizard-step--active {
    color: #fff;
}

.progressive-wizard-step--active
.progressive-wizard-step-details {
    border: 1px solid #428bca;
    background: #428bca;
}

.progressive-wizard-step--active
.progressive-wizard-step-arrow {
    border-color: transparent transparent transparent #428bca;
}

.progressive-wizard-step--active
.progressive-wizard-step-wedge {
    border-color: #428bca #428bca #428bca transparent;
}

/* --- First Wizard Step  --- */

.progressive-wizard-step:first-child 
.progressive-wizard-step-details {
    border-radius: 5px 0 0 5px;
}

.progressive-wizard-step:first-child {
    border-left: 0px;
}

.progressive-wizard-step:first-child .progressive-wizard-step-wedge {
    display: none;
}

/* --- Last Wizard Step  --- */

.progressive-wizard-step:last-child 
.progressive-wizard-step-details {
    border-radius: 0 5px 5px 0;
}

.progressive-wizard-step:last-child {
    border-right: 0px;
}

.progressive-wizard-step:last-child
.progressive-wizard-step-arrow {
    display: none;
}

/* --- Responsive Media  --- */

@media screen and (max-width: 768px) {
    .progressive-wizard-step:not(.progressive-wizard-step--active)
    .progressive-wizard-step-details-title {
        display: none;
    }
}