<section>
    <aside>
        <ul>
            <li>
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
            </li>
        </ul>
    </aside>
    <header>
        <h1>Hi! I’m <br/> Peter <br/> Software Engineer</h1>
    </header>
</section>