<section>
    <header>
        <h2>Experience</h2>
    </header>

    <section>
        <app-home-experience-item timeline="2016" logoSrc="./assets/images/logos/telerik_academy_by_progress_black.png"
            logoAlt="telerik academy"
            description="Telerik Academy Module 1 Champion. </br> Top 8 out of 1000+ students."
            announcement="Announcment *" announcementHref="https://www.youtube.com/watch?v=yy7SRzXtdBw">
        </app-home-experience-item>
        <app-home-experience-item timeline="2017" logoSrc="./assets/images/logos/vmware.png" logoAlt="vmware"
            description="Fortune 500 Company. </br> Landed an Internship as a Software Engineer">
        </app-home-experience-item>
        <app-home-experience-item timeline="2019" logoSrc="./assets/images/logos/tide.png" logoAlt="tide"
            description="Senior Front End Engineer. </br> Awarded LinkedIn’s Top 25 Startups in the UK"
            announcement="Announcment *"
            announcementHref="https://www.tide.co/blog/tide-update/linkedin-top-25-startups">
        </app-home-experience-item>
    </section>
</section>